# Copyright © 2023 MDSANIMA

# This directories and files are not copied into the container during the build.
node_modules
npm-debug.log
Dockerfile
Dockerfile.dev
Dockerfile.prod
Dockerfile.test
nginx.config
manifest.yaml
deploy.yaml
README.md
CHANGELOG.md
.next
.git
.gitignore
.dockerignore
.env
.env.test
.env.local
.env.secret
.env.dev
.env.development
.env.prod
.env.production
.env*.test
.env*.local
.env*.secret
.env*.dev
.env*.development
.env*.prod
.env*.production
