# Copyright (c) 2023-2024 MDSANIMA DEV. All rights reserved.
# Licensed under the MIT license.

# This is a configuration file for ignoring eslint files on this repository.


# Ignore this files and dirs
**/node_modules/**
**/apps/**/*.d.ts
**/next.config.js
