{
  "extends": ["next/core-web-vitals", "eslint:recommended"],
  "plugins": ["header"],
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "header/header": ["error", "line", [
      " Copyright (c) 2023 - 2024 Marcin Różewski, MDSANIMA LAB. All rights reserved.",
      " Licensed under the MIT license."
    ], 2]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
