{
  "extends": "eslint:recommended",
  "plugins": ["header"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "header/header": ["error", "block", [" Copyright © 2023 Marcin Różewski MDSANIMA "]]
  }
}
